/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #BDE4FF; }
.My-Color-Theme-2-hex { color: #8698D9; }
.My-Color-Theme-3-hex { color: #AEA1F0; }
.My-Color-Theme-4-hex { color: #B484D9; }
.My-Color-Theme-5-hex { color: #F596FA; }

